body{
     background-color:black;
}

h1{
     text-align:center;
     color:red;
     font-size:500%;
     text-font:bold;
}

p{
     color:red;
     text-align:center;
     font-size:100%;
}

header{
     color:red;
     text-align:center;
     font-size:100%;
}


*{ margin: 0; padding: 0;}
body{ background-color: black; font-family: sans-serif; width: 80%; margin: 0 auto;}
.container{ display: flex; align-items: bottom; background-color: red; margin-bottom: 40px;}
.container span{ position: botton; display: inline-block; flex-shrink: 0; padding: 8px 20px; background: rgb(0, 0, 0);
     color: red; overflow: hidden; clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);}
.scroll-right span{ clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);}



*{ margin: 0; padding: 0;}
body{ background-color: black; font-family: sans-serif; width: 80%; margin: 0 auto;}
.container{ display: flex; align-items: bottom; background-color: black; margin-bottom: 40px;}
.container span{ position: bottom; display: inline-block; flex-shrink: 0; padding: 8px 20px; background-color: rgb(0, 0, 0); color: #000000; overflow: hidden; clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);}
.scroll-right span{ clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);}
